<%- include('header.ejs') %>

    <body>
        <nav>
            <h2>Foolgry Blog</h2>
            <ul class="menu">
                <li><a href="/">Home</a></li>
                <li><a href="/about.html">About</a></li>
            </ul>
            <hr>
        </nav>
        <article class="markdown-body">
            <h1><%= title %></h1>
            <%- html %>
        </article>

    </body>